.navbarBrand {
  font-weight: 600;
}

/*In order to apply text color (white), add !important to color */
.navLink {
  font-weight: 400;
  color: white !important;
}

.navLink:hover {
  font-weight: 600;
}
