.subscription,
.submitLinks,
.contact,
.testimonials {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px 6px;
  border-radius: 5px;
  margin: 100px 15px 50px 15px;
  border-style: solid;
  border-width: thin;
  border-color: #0070f3;
}

.subscription p,
.submitLinks p,
.contact h3,
.contact p {
  margin-left: 5px;
}

.subscriptionForm,
.submitLinksForm {
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: 485px) {
  .subscription,
  .submitLinks,
  .contact,
  .testimonials {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 3px;
  }
}

.formMargin {
  margin-bottom: 15px;
}

.contact h3 {
  font-weight: 400;
}

.testimonialBox {
  background-color: rgba(128, 128, 128, 0.3);
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.imageContainer {
  width: 30%;
  height: 330px;
  margin: 5px;
  padding: 5px;
}
.imageContainer p {
  text-align: center;
  margin-bottom: 5px;
}

.clientDescription {
  width: 70%;
}

.clientDescription p {
  margin: 5px;
  padding: 5px;
  text-align: left;
}

@media (max-width: 670px) {
  .subscription,
  .submitLinks,
  .contact,
  .testimonials {
    margin-bottom: 30px;
  }
  .testimonialBox {
    margin: 5px;
    padding: 5px;
    flex-direction: column;
  }

  .imageContainer {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .clientDescription {
    max-width: 600px;
    width: 100%;
  }

  .clientDescription p {
    text-align: justify;
    margin: 2px;
    padding: 2px;
  }
}
